/* Layout */
body {
  margin: 0;
  font-family: Inter, sans-serif;
  background: #F8FAFC;
}

.main-content {
  margin-left: 260px;
  padding: 30px;
}

/* Typography */
.title {
  font-size: 38px;
  font-weight: 700;
  color: #0F172A;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 18px;
  color: #475569;
  margin-bottom: 30px;
}

/* Search Bar */
.search-bar {
  width: 80%;
  padding: 12px 18px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #cbd5e1;
  margin-bottom: 25px;
}

/* Cards */
.card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 30px;
  border: 1px solid #e2e8f0;
}

/* Quick Tools */
.quick-grid {
  display: grid;
  grid-template-columns: repeat(3, 250px);
  gap: 20px;
  margin-top: 10px;
}

.quick-card {
  background: white;
  padding: 20px;
  text-align: center;
  font-size: 18px;
  border-radius: 10px;
  border: 1px solid #e2e8f0;
  text-decoration: none;
  color: #0F172A;
  transition: 0.25s;
}

.quick-card:hover {
  background: #3B82F6;
  color: white;
  cursor: pointer;
}
